
GO
USE [SmartCookFinal]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/27/2025 2:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogComments]    Script Date: 5/27/2025 2:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogComments](
	[BlogCommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentText] [nvarchar](max) NOT NULL,
	[CommentedAt] [datetime2](7) NOT NULL,
	[BlogId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_BlogComments] PRIMARY KEY CLUSTERED 
(
	[BlogCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 5/27/2025 2:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[UrlImage] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucMonAns]    Script Date: 5/27/2025 2:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucMonAns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DanhMucMonAns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAnNguyenLieus]    Script Date: 5/27/2025 2:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAnNguyenLieus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MonAnId] [int] NOT NULL,
	[NguyenLieuId] [int] NOT NULL,
	[SoLuong] [real] NOT NULL,
	[DonVi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MonAnNguyenLieus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAns]    Script Date: 5/27/2025 2:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[LoaiBuaAn] [nvarchar](100) NULL,
	[ThoiGianNau] [int] NULL,
	[LuongCalo] [int] NULL,
	[Carbs] [float] NULL,
	[Protein] [float] NULL,
	[Fat] [float] NULL,
	[ChiPhiUocTinh] [decimal](18, 2) NULL,
	[Chay] [bit] NULL,
	[AnKeto] [bit] NULL,
	[AnKhongGluten] [bit] NULL,
	[NguyenLieuChinh] [nvarchar](max) NULL,
	[DinhDuongChiTiet] [nvarchar](max) NULL,
	[UrlHinhAnh] [nvarchar](500) NULL,
	[CachNau] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
	[DanhMucId] [int] NULL,
 CONSTRAINT [PK_MonAns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 5/27/2025 2:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Tuoi] [int] NULL,
	[ChieuCao] [float] NULL,
	[CanNang] [float] NULL,
	[MucDoHoatDong] [nvarchar](100) NULL,
	[MucTieu] [nvarchar](100) NULL,
	[SoBuaMotNgay] [int] NULL,
	[NganSachToiDa] [float] NULL,
	[CheDoAn] [nvarchar](100) NULL,
	[DiUng] [nvarchar](max) NULL,
	[KhongThich] [nvarchar](max) NULL,
	[Password] [nvarchar](255) NULL,
 CONSTRAINT [PK_NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieus]    Script Date: 5/27/2025 2:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguyenLieu] [nvarchar](max) NOT NULL,
	[DonViTinh] [nvarchar](max) NOT NULL,
	[Calo] [real] NOT NULL,
	[Carbs] [real] NOT NULL,
	[Protein] [real] NOT NULL,
	[Fat] [real] NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_NguyenLieus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucDonChiTiets]    Script Date: 5/27/2025 2:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucDonChiTiets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThucDonNgayId] [int] NOT NULL,
	[MonAnId] [int] NOT NULL,
	[LoaiBua] [nvarchar](max) NOT NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ThucDonChiTiets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucDonNgays]    Script Date: 5/27/2025 2:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucDonNgays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NOT NULL,
	[Ngay] [datetime2](7) NOT NULL,
	[TongCalo] [int] NOT NULL,
	[TongCarbs] [real] NOT NULL,
	[TongProtein] [real] NOT NULL,
	[TongFat] [real] NOT NULL,
 CONSTRAINT [PK_ThucDonNgays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250525094358_Init', N'8.0.6')
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 


INSERT [dbo].[Blogs] ([BlogId], [Title], [UrlImage], [Content], [Detail], [isChecked], [CreatedAt], [UserId]) 
VALUES (10, N'Các món ăn chay giàu protein', N'https://example.com/img5.jpg', N'Tổng hợp các món chay ngon, giàu đạm phù hợp cho người tập gym.', N'Chi tiết blog', 1, CAST(N'2025-05-26T21:03:38.5066667' AS DateTime2), 7);

INSERT [dbo].[Blogs] ([BlogId], [Title], [UrlImage], [Content], [Detail], [isChecked], [CreatedAt], [UserId]) 
VALUES (11, N'Kỹ thuật ướp thịt nướng đậm đà', N'https://example.com/img6.jpg', N'Mẹo ướp thịt heo, bò, gà giúp món nướng mềm, thơm, chuẩn vị BBQ.', N'Chi tiết blog', 1, CAST(N'2025-05-26T21:03:38.5066667' AS DateTime2), 8);





SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[MonAns] ON 

INSERT [dbo].[MonAns] ([Id], [TenMon], [MoTa], [LoaiBuaAn], [ThoiGianNau], [LuongCalo], [Carbs], [Protein], [Fat], [ChiPhiUocTinh], [Chay], [AnKeto], [AnKhongGluten], [NguyenLieuChinh], [DinhDuongChiTiet], [UrlHinhAnh], [CachNau], [TrangThai], [DanhMucId]) VALUES (1, N'Cơm chiên trứng', N'Cơm chiên với trứng và rau củ', N'Trưa', 15, 450, 50, 10, 15, CAST(15000.00 AS Decimal(18, 2)), 0, 0, 0, N'gạo, trứng, cà rốt, đậu hà lan', NULL, N'https://i.ytimg.com/vi/TwLcs58fUhY/maxresdefault.jpg', N'1. Xào rau củ. 2. Thêm trứng và cơm.', 1, NULL)
INSERT [dbo].[MonAns] ([Id], [TenMon], [MoTa], [LoaiBuaAn], [ThoiGianNau], [LuongCalo], [Carbs], [Protein], [Fat], [ChiPhiUocTinh], [Chay], [AnKeto], [AnKhongGluten], [NguyenLieuChinh], [DinhDuongChiTiet], [UrlHinhAnh], [CachNau], [TrangThai], [DanhMucId]) VALUES (2, N'Phở bò', N'Phở truyền thống với nước dùng đậm đà và thịt bò', N'Sáng', 30, 500, 60, 25, 10, CAST(30000.00 AS Decimal(18, 2)), 0, 0, 0, N'bánh phở, bò, hành, gia vị', NULL, N'https://i.pinimg.com/736x/a4/fb/af/a4fbaf9b0e206c6954fcb105ccc1562b.jpg', N'Nấu nước dùng, chần bánh phở, thêm thịt.', 1, NULL)
INSERT [dbo].[MonAns] ([Id], [TenMon], [MoTa], [LoaiBuaAn], [ThoiGianNau], [LuongCalo], [Carbs], [Protein], [Fat], [ChiPhiUocTinh], [Chay], [AnKeto], [AnKhongGluten], [NguyenLieuChinh], [DinhDuongChiTiet], [UrlHinhAnh], [CachNau], [TrangThai], [DanhMucId]) VALUES (3, N'Salad rau củ', N'Salad tươi mát với dầu olive', N'Tối', 10, 200, 20, 5, 10, CAST(12000.00 AS Decimal(18, 2)), 1, 1, 1, N'xà lách, cà chua, dưa leo', NULL, N'https://i.pinimg.com/736x/e0/2f/ac/e02facbec757f6f057ae30f02db91e49.jpg', N'Trộn rau với dầu và gia vị.', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[MonAns] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungs] ON 

INSERT [dbo].[NguoiDungs] ([Id], [TenNguoiDung], [Email], [GioiTinh], [Tuoi], [ChieuCao], [CanNang], [MucDoHoatDong], [MucTieu], [SoBuaMotNgay], [NganSachToiDa], [CheDoAn], [DiUng], [KhongThich], [Password]) VALUES (7, N'Duc', N'a@a', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'1')
INSERT [dbo].[NguoiDungs] ([Id], [TenNguoiDung], [Email], [GioiTinh], [Tuoi], [ChieuCao], [CanNang], [MucDoHoatDong], [MucTieu], [SoBuaMotNgay], [NganSachToiDa], [CheDoAn], [DiUng], [KhongThich], [Password]) VALUES (8, N'Duc2', N'b@b', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'1')
INSERT [dbo].[NguoiDungs] ([Id], [TenNguoiDung], [Email], [GioiTinh], [Tuoi], [ChieuCao], [CanNang], [MucDoHoatDong], [MucTieu], [SoBuaMotNgay], [NganSachToiDa], [CheDoAn], [DiUng], [KhongThich], [Password]) VALUES (9, N'aaaaa', N'abc@abc', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'123')
SET IDENTITY_INSERT [dbo].[NguoiDungs] OFF
GO
SET IDENTITY_INSERT [dbo].[ThucDonChiTiets] ON 

INSERT [dbo].[ThucDonChiTiets] ([Id], [ThucDonNgayId], [MonAnId], [LoaiBua], [GhiChu]) VALUES (1, 9, 2, N'Sáng', N'')
INSERT [dbo].[ThucDonChiTiets] ([Id], [ThucDonNgayId], [MonAnId], [LoaiBua], [GhiChu]) VALUES (2, 9, 1, N'Trưa', N'')
INSERT [dbo].[ThucDonChiTiets] ([Id], [ThucDonNgayId], [MonAnId], [LoaiBua], [GhiChu]) VALUES (3, 9, 5, N'Trưa', N'')
SET IDENTITY_INSERT [dbo].[ThucDonChiTiets] OFF
GO
SET IDENTITY_INSERT [dbo].[ThucDonNgays] ON 

INSERT [dbo].[ThucDonNgays] ([Id], [NguoiDungId], [Ngay], [TongCalo], [TongCarbs], [TongProtein], [TongFat]) VALUES (9, 7, CAST(N'2025-05-27T01:35:17.8724724' AS DateTime2), 2742, 180, 90, 60)
INSERT [dbo].[ThucDonNgays] ([Id], [NguoiDungId], [Ngay], [TongCalo], [TongCarbs], [TongProtein], [TongFat]) VALUES (10, 8, CAST(N'2025-05-27T01:41:26.0002183' AS DateTime2), 1591, 135, 75, 62)
INSERT [dbo].[ThucDonNgays] ([Id], [NguoiDungId], [Ngay], [TongCalo], [TongCarbs], [TongProtein], [TongFat]) VALUES (11, 16, CAST(N'2025-05-27T13:39:15.5386865' AS DateTime2), 1928, 125, 145, 69)
SET IDENTITY_INSERT [dbo].[ThucDonNgays] OFF
GO
/****** Object:  Index [IX_BlogComments_BlogId]    Script Date: 5/27/2025 2:18:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_BlogComments_BlogId] ON [dbo].[BlogComments]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogComments_UserId]    Script Date: 5/27/2025 2:18:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_BlogComments_UserId] ON [dbo].[BlogComments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Blogs_UserId]    Script Date: 5/27/2025 2:18:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Blogs_UserId] ON [dbo].[Blogs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonAnNguyenLieus_MonAnId]    Script Date: 5/27/2025 2:18:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonAnNguyenLieus_MonAnId] ON [dbo].[MonAnNguyenLieus]
(
	[MonAnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonAnNguyenLieus_NguyenLieuId]    Script Date: 5/27/2025 2:18:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonAnNguyenLieus_NguyenLieuId] ON [dbo].[MonAnNguyenLieus]
(
	[NguyenLieuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonAns_DanhMucId]    Script Date: 5/27/2025 2:18:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonAns_DanhMucId] ON [dbo].[MonAns]
(
	[DanhMucId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThucDonChiTiets_MonAnId]    Script Date: 5/27/2025 2:18:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThucDonChiTiets_MonAnId] ON [dbo].[ThucDonChiTiets]
(
	[MonAnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThucDonChiTiets_ThucDonNgayId]    Script Date: 5/27/2025 2:18:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThucDonChiTiets_ThucDonNgayId] ON [dbo].[ThucDonChiTiets]
(
	[ThucDonNgayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThucDonNgays_NguoiDungId]    Script Date: 5/27/2025 2:18:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThucDonNgays_NguoiDungId] ON [dbo].[ThucDonNgays]
(
	[NguoiDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD  CONSTRAINT [FK_BlogComments_Blogs_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([BlogId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogComments] CHECK CONSTRAINT [FK_BlogComments_Blogs_BlogId]
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD  CONSTRAINT [FK_BlogComments_NguoiDungs_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[BlogComments] CHECK CONSTRAINT [FK_BlogComments_NguoiDungs_UserId]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_NguoiDungs_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_NguoiDungs_UserId]
GO
ALTER TABLE [dbo].[MonAnNguyenLieus]  WITH CHECK ADD  CONSTRAINT [FK_MonAnNguyenLieus_MonAns_MonAnId] FOREIGN KEY([MonAnId])
REFERENCES [dbo].[MonAns] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonAnNguyenLieus] CHECK CONSTRAINT [FK_MonAnNguyenLieus_MonAns_MonAnId]
GO
ALTER TABLE [dbo].[MonAnNguyenLieus]  WITH CHECK ADD  CONSTRAINT [FK_MonAnNguyenLieus_NguyenLieus_NguyenLieuId] FOREIGN KEY([NguyenLieuId])
REFERENCES [dbo].[NguyenLieus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonAnNguyenLieus] CHECK CONSTRAINT [FK_MonAnNguyenLieus_NguyenLieus_NguyenLieuId]
GO
ALTER TABLE [dbo].[MonAns]  WITH CHECK ADD  CONSTRAINT [FK_MonAns_DanhMucMonAns_DanhMucId] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMucMonAns] ([Id])
GO
ALTER TABLE [dbo].[MonAns] CHECK CONSTRAINT [FK_MonAns_DanhMucMonAns_DanhMucId]
GO
ALTER TABLE [dbo].[ThucDonChiTiets]  WITH CHECK ADD  CONSTRAINT [FK_ThucDonChiTiets_MonAns_MonAnId] FOREIGN KEY([MonAnId])
REFERENCES [dbo].[MonAns] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThucDonChiTiets] CHECK CONSTRAINT [FK_ThucDonChiTiets_MonAns_MonAnId]
GO
ALTER TABLE [dbo].[ThucDonChiTiets]  WITH CHECK ADD  CONSTRAINT [FK_ThucDonChiTiets_ThucDonNgays_ThucDonNgayId] FOREIGN KEY([ThucDonNgayId])
REFERENCES [dbo].[ThucDonNgays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThucDonChiTiets] CHECK CONSTRAINT [FK_ThucDonChiTiets_ThucDonNgays_ThucDonNgayId]
GO
ALTER TABLE [dbo].[ThucDonNgays]  WITH CHECK ADD  CONSTRAINT [FK_ThucDonNgays_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThucDonNgays] CHECK CONSTRAINT [FK_ThucDonNgays_NguoiDungs_NguoiDungId]
GO
USE [master]
GO
