

<div class="page-content bg-white">
	<!-- Main Slider -->
	<div class="rev-slider">
		<div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery36" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
			<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
			<div id="rev_slider_486_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
				<ul>
					<!-- SLIDE  -->
					<li data-index="rs-100"
						data-transition="parallaxvertical"
						data-slotamount="default"
						data-hideafterloop="0"
						data-hideslideonmobile="off"
						data-easein="default"
						data-easeout="default"
						data-masterspeed="default"
						data-thumb="error-404.html"
						data-rotate="0"
						data-fstransition="fade"
						data-fsmasterspeed="1500"
						data-fsslotamount="7"
						data-saveperformance="off"
						data-title="A STUDY ON HAPPINESS"
						data-param1="" data-param2=""
						data-param3="" data-param4=""
						data-param5="" data-param6=""
						data-param7="" data-param8=""
						data-param9="" data-param10=""
						data-description="Science says that Women are generally happier">
						<!-- MAIN IMAGE -->
						<img src="~/images/smartcook/background.png" alt=""
							 data-bgposition="center center"
							 data-bgfit="cover"
							 data-bgrepeat="no-repeat"
							 data-bgparallax="10"
							 class="rev-slidebg"
							 data-no-retina />

						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-shape tp-shapewrapper "
							 id="slide-100-layer-1"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							 data-width="full"
							 data-height="full"
							 data-whitespace="nowrap"
							 data-type="shape"
							 data-basealign="slide"
							 data-responsive_offset="off"
							 data-responsive="off"
							 data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1,"to":"opacity:0;","ease":"Power4.easeOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 5;background-color:rgba(2, 0, 11, 0.80);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption Newspaper-Title   tp-resizeme"
							 id="slide-100-layer-2"
							 data-x="['center','center','center','center']"
							 data-hoffset="['0','0','0','0']"
							 data-y="['top','top','top','top']"
							 data-voffset="['250','250','250','240']"
							 data-fontsize="['50','50','50','30']"
							 data-lineheight="['55','55','55','35']"
							 data-width="full"
							 data-height="none"
							 data-whitespace="normal"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['center','center','center','center']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[10,10,10,10]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 6; font-family:'Times New Roman'; font-weight:700; text-align:center; white-space: normal;">
							Welcome To An Thực
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption Newspaper-Subtitle   tp-resizeme"
							 id="slide-100-layer-3"
							 data-x="['center','center','center','center']"
							 data-hoffset="['0','0','0','0']"
							 data-y="['top','top','top','top']"
							 data-voffset="['210','210','210','210']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 7; white-space: nowrap; color:#fff; font-family:'Times New Roman'; font-size:18px; font-weight:400;">
							Thực đơn lành mạnh phù hợp với sức khoẻ của bạn
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption Newspaper-Subtitle   tp-resizeme"
							 id="slide-100-layer-4"
							 data-x="['center','center','center','center']"
							 data-hoffset="['0','0','0','0']"
							 data-y="['top','top','top','top']"
							 data-voffset="['320','320','320','290']"
							 data-width="['800','800','700','420']"
							 data-height="['100','100','100','120']"
							 data-whitespace="unset"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['center','center','center','center']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:'Times New Roman'; font-size:18px; line-height:28px; font-weight:400;">
							Khám phá hàng trăm công thức nấu ăn healthy, đơn giản, và ngon miệng được thiết kế dành riêng cho bạn.
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption Newspaper-Button rev-btn "
							 id="slide-100-layer-5"
							 data-x="['center','center','center','center']"
							 data-hoffset="['90','80','75','90']"
							 data-y="['top','top','top','top']"
							 data-voffset="['400','400','400','420']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="button"
							 data-responsive_offset="on"
							 data-responsive="off"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
							 data-textAlign="['center','center','center','center']"
							 data-paddingtop="[12,12,12,12]"
							 data-paddingright="[30,35,35,15]"
							 data-paddingbottom="[12,12,12,12]"
							 data-paddingleft="[30,35,35,15]"
							 style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; background-color:#2ecc71 !important; border:0; border-radius:30px; margin-right:5px;">
							Xem thêm
						</div>
						<div class="tp-caption Newspaper-Button rev-btn"
							 id="slide-100-layer-6"
							 data-x="['center','center','center','center']"
							 data-hoffset="['-90','-80','-75','-90']"
							 data-y="['top','top','top','top']"
							 data-voffset="['400','400','400','420']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="button"
							 data-responsive_offset="on"
							 data-responsive="off"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
							 data-textAlign="['center','center','center','center']"
							 data-paddingtop="[12,12,12,12]"
							 data-paddingright="[30,35,35,15]"
							 data-paddingbottom="[12,12,12,12]"
							 data-paddingleft="[30,35,35,15]"
							 style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius:30px;">
							Liên Hệ
						</div>
					</li>
					<li data-index="rs-200"
						data-transition="parallaxvertical"
						data-slotamount="default"
						data-hideafterloop="0"
						data-hideslideonmobile="off"
						data-easein="default"
						data-easeout="default"
						data-masterspeed="default"
						data-thumb="~/images/slider/slide1.jpg"
						data-rotate="0"
						data-fstransition="fade"
						data-fsmasterspeed="1500"
						data-fsslotamount="7"
						data-saveperformance="off"
						data-title="A STUDY ON HAPPINESS"
						data-param1="" data-param2=""
						data-param3="" data-param4=""
						data-param5="" data-param6=""
						data-param7="" data-param8=""
						data-param9="" data-param10=""
						data-description="Science says that Women are generally happier">
						<!-- MAIN IMAGE -->
						<img src="~/images/smartcook/background.png" alt=""
							 data-bgposition="center center"
							 data-bgfit="cover"
							 data-bgrepeat="no-repeat"
							 data-bgparallax="10"
							 class="rev-slidebg"
							 data-no-retina />

						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-shape tp-shapewrapper "
							 id="slide-200-layer-1"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							 data-width="full"
							 data-height="full"
							 data-whitespace="nowrap"
							 data-type="shape"
							 data-basealign="slide"
							 data-responsive_offset="off"
							 data-responsive="off"
							 data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:1;","ease":"Power4.easeOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 5;background-color:rgba(2, 0, 11, 0.80);border-color:rgba(0, 0, 0, 0);border-width:0px;">
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption Newspaper-Title   tp-resizeme"
							 id="slide-200-layer-2"
							 data-x="['center','center','center','center']"
							 data-hoffset="['0','0','0','0']"
							 data-y="['top','top','top','top']"
							 data-voffset="['250','250','250','240']"
							 data-fontsize="['50','50','50','30']"
							 data-lineheight="['55','55','55','35']"
							 data-width="full"
							 data-height="none"
							 data-whitespace="normal"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['center','center','center','center']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[10,10,10,10]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 6; font-family:rubik; font-weight:700; text-align:center; white-space: normal;text-transform:uppercase;">
							Welcome To University
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption Newspaper-Subtitle   tp-resizeme"
							 id="slide-200-layer-3"
							 data-x="['center','center','center','center']"
							 data-hoffset="['0','0','0','0']"
							 data-y="['top','top','top','top']"
							 data-voffset="['210','210','210','210']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 7; white-space: nowrap;text-transform:uppercase; color:#fff; font-family:rubik; font-size:18px; font-weight:400;">
							Batter Education For A Better
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption Newspaper-Subtitle   tp-resizeme"
							 id="slide-200-layer-4"
							 data-x="['center','center','center','center']"
							 data-hoffset="['0','0','0','0']"
							 data-y="['top','top','top','top']"
							 data-voffset="['320','320','320','290']"
							 data-width="['800','800','700','420']"
							 data-height="['100','100','100','120']"
							 data-whitespace="unset"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['center','center','center','center']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:rubik; font-size:18px; line-height:28px; font-weight:400;">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption Newspaper-Button rev-btn "
							 id="slide-200-layer-5"
							 data-x="['center','center','center','center']"
							 data-hoffset="['90','80','75','90']"
							 data-y="['top','top','top','top']"
							 data-voffset="['400','400','400','420']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="button"
							 data-responsive_offset="on"
							 data-responsive="off"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
							 data-textAlign="['center','center','center','center']"
							 data-paddingtop="[12,12,12,12]"
							 data-paddingright="[30,35,35,15]"
							 data-paddingbottom="[12,12,12,12]"
							 data-paddingleft="[30,35,35,15]"
							 style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; background-color:#00FF00 !important; border:0; border-radius:30px; margin-right:5px;">
							READ MORE
						</div>
						<div class="tp-caption Newspaper-Button rev-btn"
							 id="slide-200-layer-6"
							 data-x="['center','center','center','center']"
							 data-hoffset="['-90','-80','-75','-90']"
							 data-y="['top','top','top','top']"
							 data-voffset="['400','400','400','420']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="button"
							 data-responsive_offset="on"
							 data-responsive="off"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
							 data-textAlign="['center','center','center','center']"
							 data-paddingtop="[12,12,12,12]"
							 data-paddingright="[30,35,35,15]"
							 data-paddingbottom="[12,12,12,12]"
							 data-paddingleft="[30,35,35,15]"
							 style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius:30px;">
							CONTACT US
						</div>
					</li>
					<!-- SLIDE  -->
				</ul>
			</div><!-- END REVOLUTION SLIDER -->
		</div>
	</div>
	<!-- Main Slider -->
	<div class="content-block">

		<!-- Our Services -->
		<div class="section-area content-inner service-info-bx">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="service-bx">
							<div class="action-box">
								<img src="https://i.pinimg.com/736x/f6/0b/7d/f60b7d5b5bae10d494bd47d83c7790c6.jpg" alt="">
							</div>
							<div class="info-bx text-center">

								<h4 style="font-family: Roboto"><a href="@Url.Action("Index", "MonAns")"><strong>Thư Viện Món Ăn</strong></a></h4>
								<a href="@Url.Action("Index", "MonAns")" class="btn radius-xl">Xem thêm</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="service-bx">
							<div class="action-box">
								<img src="https://i.pinimg.com/736x/1f/0c/93/1f0c938f194d7ffeeddd9033d4bd51e5.jpg" alt="">
							</div>
							<div class="info-bx text-center">

								<h4 style="font-family: Roboto"><a href="#"><strong>Các Mẹo Dinh Dưỡng</strong></a></h4>
								<a href="#" class="btn radius-xl">Xem thêm</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12">
						<div class="service-bx m-b0">
							<div class="action-box">
								<img src="https://i.pinimg.com/736x/06/21/bf/0621bf4e871f85c58264ecddbb6a6466.jpg" alt="">
							</div>
							<div class="info-bx text-center">

								<h4 style="font-family: Roboto"><a href="@Url.Action("Index", "MonAns")"><strong>Cộng Đồng Người Dùng</strong></a></h4>
								<a href="@Url.Action("Index", "MonAns")" class="btn radius-xl">Xem thêm</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Our Services END -->
		<!-- Popular Courses -->
		<div class="section-area section-sp2 popular-courses-bx">
			<div class="container">
				<div class="row">
					<div class="col-md-12 heading-bx left">
						<h2 style="font-family: Roboto" class="title-head">Salad Hot Hit</h2>
						<p style="font-family: Roboto">Thưởng thức món salad mát lạnh, giòn tan cho bữa ăn mùa hè hoàn hảo. Salad rau xanh, khoai tây, đậu và bông cải xanh, cùng salad bắp cải và salad caprese. Xem công thức.</p>
					</div>
				</div>
				<div class="row">
					<div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
					</div>
				</div>
			</div>
		</div>

		<!-- Popular Courses END -->
		<!-- Form END -->
		<div class="section-area section-sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 m-b30">
						<h2 class="title-head ">
							Premium<br> <span class="text-primary">
								giúp lên thực đơn
								hàng ngày dễ dàng hơn
							</span>
						</h2>
						<!-- <h4><span class="counter">57,000</span> Online Courses</h4> -->
						<p>Nâng cấp lên An Thực Premium để trải nghiệm đầy đủ tính năng vượt trội! Với gói Premium, bạn sẽ nhận được công thức độc quyền, thực đơn cá nhân hóa theo chế độ dinh dưỡng, gợi ý món ăn nâng cao và không có quảng cáo. Hãy nâng cấp ngay để biến việc nấu ăn trở nên dễ dàng và thú vị hơn bao giờ hết! 🍽️✨</p>
						<a href="membership.html" class="btn button-md">Mua Ngay</a>
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="~/images/smartcook/icon/icon4.png" alt=""></a>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Đề xuất thực đơn phù hợp với mức tài chính</h5>

									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="~/images/smartcook/icon/icon3.png" alt=""></a>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Lưu lại những món ăn hay thực đơn yêu thích</h5>

									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="~/images/smartcook/icon/icon2.png" alt=""></a>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Tính toán calo</h5>

									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="~/images/smartcook/icon/icon1.png" alt=""></a>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Tham gia cộng động người dùng</h5>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Testimonials -->
		<div class="section-area section-sp2 bg-fix ovbl-dark" style="background-color:burlywood">

			<div class="container">
				<div class="row">
					<div class="col-md-12 heading-bx left">
						<h2 class="title-head text-uppercase">Chia sẻ từ các chuyên gia ẩm thực</h2>
						<p>Sự thật hiển nhiên là một đầu bếp giỏi luôn bị cuốn hút bởi những công thức nấu ăn hấp dẫn và nội dung chất lượng.</p>
					</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
					<div class="item">
						<div class="testimonial-bx">
							<div class="testimonial-thumb">
								<img src="~/images/smartcook/gordonRamsay.jpg" alt="">
							</div>
							<div class="testimonial-info">
								<h5 class="name">Gordon Ramsay</h5>
								<p>Chef</p>
							</div>
							<div class="testimonial-content">
								<p>
									"Hãy nếm thử mọi thứ khi bạn nấu. Hương vị là chìa khóa, và nếu bạn không thử món ăn của mình, bạn sẽ không biết cần điều chỉnh gì."
									<br>
									(Learn to taste everything as you cook. Flavor is key, and if you don’t taste your food, you’ll never know what it needs.)
								</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-bx">
							<div class="testimonial-thumb">
								<img src="~/images/testimonials/pic2.jpg" alt="">
							</div>
							<div class="testimonial-info">
								<h5 class="name">John Doe</h5>
								<p>Null</p>
							</div>
							<div class="testimonial-content">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type...</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Testimonials END -->
		<!-- Recent News -->
		<div class="section-area section-sp2">
			<div class="container">
				<div class="row">
					<div class="col-md-12 heading-bx left">
						<h2 class="title-head">Tin tức nổi bật</h2>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
					</div>
				</div>
				<div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
					<div class="item">
						<div class="recent-news">
							<div class="action-box">
								<img src="~/images/blog/latest-blog/pic1.jpg" alt="">
							</div>
							<div class="info-bx">
								<ul class="media-post">
									<li><a href="#"><i class="fa fa-calendar"></i>Jan 02 2019</a></li>
									<li><a href="#"><i class="fa fa-user"></i>By William</a></li>
								</ul>
								<h5 class="post-title"><a href="blog-details.html">This Story Behind Education Will Haunt You Forever.</a></h5>
								<p>Knowing that, you’ve optimised your pages countless amount of times, written tons.</p>
								<div class="post-extra">
									<a href="#" class="btn-link">READ MORE</a>
									<a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20 Comment</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="recent-news">
							<div class="action-box">
								<img src="~/images/blog/latest-blog/pic2.jpg" alt="">
							</div>
							<div class="info-bx">
								<ul class="media-post">
									<li><a href="#"><i class="fa fa-calendar"></i>Feb 05 2019</a></li>
									<li><a href="#"><i class="fa fa-user"></i>By John</a></li>
								</ul>
								<h5 class="post-title"><a href="blog-details.html">What Will Education Be Like In The Next 50 Years?</a></h5>
								<p>As desperate as you are right now, you have done everything you can on your.</p>
								<div class="post-extra">
									<a href="#" class="btn-link">READ MORE</a>
									<a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>14 Comment</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="recent-news">
							<div class="action-box">
								<img src="~/images/blog/latest-blog/pic3.jpg" alt="">
							</div>
							<div class="info-bx">
								<ul class="media-post">
									<li><a href="#"><i class="fa fa-calendar"></i>April 14 2019</a></li>
									<li><a href="#"><i class="fa fa-user"></i>By George</a></li>
								</ul>
								<h5 class="post-title"><a href="blog-details.html">Master The Skills Of Education And Be.</a></h5>
								<p>You will see in the guide all my years of valuable experience together with.</p>
								<div class="post-extra">
									<a href="#" class="btn-link">READ MORE</a>
									<a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>23 Comment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Recent News End -->

	</div>
	<!-- contact area END -->
</div>
<!-- Content END-->
